{# --------------------------------------------
   Template for the NOTES app
   -------------------------------------------- #}

{% extends "main_index.html" %}


{% block hero_unit %}
  <header class="hero-unit">
    <h1>notes</h1>
    <p>store and edit random notes in Markdown formatted text</p>
  </header>
{% endblock hero_unit %}



{% block article %}
<div class="row-fluid">
    <form method="post" action="/notes/convert" class="well span6">
      <label>Markdown input:</label>
      <div span="span9"><textarea name="content" 
                    placeholder="Type something…"
                    class="input-block-level"
                    rows="20">{{ content }}</textarea></div> 
      <div><button type="submit" class="btn">convert</button></div>
    </form>
    <article class="span6">
        {{ html | safe }}
    </article>
</div>  <!-- /row-fluid -->
{% endblock article %}