{# --------------------------------------------
   Template for the NOTES app
   -------------------------------------------- #}

{% extends "main_index.html" %}


{% block hero_unit %}
  {% if banner %}
  <header class="hero-unit">
    <h1>notes</h1>
    <p>store and edit random notes in Markdown formatted text</p>
  </header>
  {% endif %}
{% endblock hero_unit %}



{% block article %}
<div class="row-fluid">
    <form method="post" action="/notes/convert" class="well span6">
    {% if errors %}
      {% for error in errors %}
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Error: </strong>{{ error }}
        </div>
      {% endfor %}
    {% endif %}
    {% if warnings %}
      {% for warning in warnings %}
        <div class="alert alert-block">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Warning: </strong>{{ warning }}
        </div>
      {% endfor %}
    {% endif %}
      <input type="hidden" name="note_key" value="{{ note_key }}">
      <input type="text" name="title" 
             class="input-block-level"
             placeholder="Type title here. Plain text, no markdown."
             {% if title %}value="{{ title }}"{% endif %}>
      <textarea name="source" 
                    placeholder="Type any markdown text."
                    class="input-block-level"
                    rows="20">{{ source }}</textarea>
      <button type="submit" class="btn">convert</button>
    </form>
    {% if not errors %}
    <article class="span6">
        {% if title %}
            <table class="table table-condensed">
                <tr><th style="width: 25%">Title:</th><td style="width: 75%">{{ title }}</td></tr>
                <tr><th>Date created:</th><td>{{ date_created }}</td></tr>
                <tr><th>By:</th><td>{{ handler.NICKNAME }}</td></tr>
            </table>
        {% endif %}
        {{ target | safe }}
    </article>
    {% endif %}
</div>  <!-- /row-fluid -->
{% endblock article %}