{# --------------------------------------------
   PAGE Template for the NOTES app
   -------------------------------------------- #}

{% extends "/notes/notes_layout.html" %}


{% block contents %}

<div class="btn-toolbar">
  <div class="btn-group">
    {% if editable %}<a class="btn" href="/notes/edit/{{ key }}"><i class="icon-pencil"></i> edit</a>{% else %}<i class="icon-pencil muted"></i> edit{% endif %}

    <a class="btn" href="/notes/page/{{ key }}"><i class="icon-eye-open"></i> plain</a>

    <a class="btn" href="/notes/pubreader/{{ key }}"><i class="icon-book"></i> book</a>
    
    <a class="btn" href="/notes/slides/{{ key }}"><i class="icon-bullhorn"></i> slides</a>
  </div>
</div>

  {% if not errors %}
  <article class="well" style="background-color: white;">
      {% if title %}
          <table class="table table-condensed">
              <tr><th style="width: 25%">Title:</th><td style="width: 75%">{{ title }}</td></tr>
              <tr><th>Date created:</th><td>{{ date_created }}</td></tr>
              <tr><th>Date modified:</th><td>{{ date_modified }}</td></tr>
              <tr><th>By:</th><td>{{ handler.NICKNAME }}</td></tr>
          </table>
      {% endif %}
      {{ target | safe }}
  </article>

<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn" href="javascript:window.scrollTo(0,0);"><i class="icon-circle-arrow-up"></i> to top of page</a>
  </div>
</div>

  {% endif %}


{% endblock contents %}

