{# --------------------------------------------
   HOME Template for the NOTES app
   -------------------------------------------- 
#}{% extends "/notes/notes_layout.html" %}

{% block site_specific_top %}
<style type="text/css">
.disabled {
  background-color: white;
  border: none;
}
</style>
{% endblock site_specific_top %}


{% block contents %}
<div class="controls controls-row">
    <div>
      <a href="/notes/new/" class="btn"><i class="icon-plus"></i> new note</a>
      <a href="#upload_form" role="button" class="btn" data-toggle="modal"><i class="icon-upload"></i> upload file</a>

      <div id="upload_form" class="modal hide fade in" style="display: none; ">  
        <div class="modal-header">  
        <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a>  
        <h3>Upload a file</h3>  
        </div>  
        <div class="modal-body">  
        <form method='POST' enctype='multipart/form-data' action="/notes/upload/">
              <input type="file" name="upload_file">
              <input class="btn btn-success" type="submit" value="upload">
            </form>              
        </div> 
      </div>
      
    </div>
</div>

<div class="row" style="margin-top: 20px">
{% if recent %}
      {% for key, note in recent.iteritems() %}
        <div class="span4" 
              style="text-align:center; float: left;">
        <div style="margin: 5px 0 8px; 
                    height: 5em;
                    padding: 10px 15px;
                    border: 1px solid #ddd;
                    text-align:left;
                    font-size: 1.2em;
                    background-color: white;
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    border-radius: 8px;
                    -webkit-box-shadow: 4px 4px 8px 0px #aaa;
                    box-shadow: 4px 4px 8px 0px #aaa;">

            {% if note.editable %}<a href="/notes/edit/{{ key }}"><i class="icon-pencil"></i></a>{% else %}<i class="icon-pencil disabled"></i>{% endif %}

            <a href="/notes/view/{{ key }}"><i class="icon-eye-open"></i></a>

            <a href="/notes/pubreader/{{ key }}"><i class="icon-book"></i></a>

            <a href="/notes/slides/{{ key }}"><i class="icon-bullhorn"></i></a>

            {% if handler.ACCESS_LEVEL == 'user' %}<a href="/notes/copy/{{ key }}"><i class="icon-copy"></i></a>{% else %}<i class="icon-plus disabled"></i>{% endif %}

            <a href="/notes/download/{{ key }}"><i class="icon-download"></i></a>

            &nbsp; &nbsp;

            {% if note.editable %}<a href="#delete_form-{{ key }}" class="pull-right" role="button" data-toggle="modal"><i class="icon-trash"></i></a>{% else %}<i class="icon-trash disabled pull-right"></i>{% endif %}

            <div id="delete_form-{{ key }}" class="modal hide fade in" style="display: none; ">  
              <div class="modal-header">  
                <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a>  
                <h3><i class="icon-warning-sign icon-large"></i> Delete a note</h3>  
              </div>  
              <div class="modal-body">  
                <p>Are you sure you want to delete the note: <strong>"{{ note.title }}"</strong>?</p>
                <p>This cannot be undone.</p>              
              </div> 
              <div class="modal-footer">
                <form method='DELETE' action="/notes/delete/{{ note.key }}">
                      <a href="#" class="btn"  data-dismiss="modal">close</a>
                      <input class="btn btn-primary" type="submit" value="delete">
                </form>
              </div>
            </div>

            <p style="margin-top: 10px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      display: -webkit-box;
                      -webkit-line-clamp: 2; /* number of lines to show */
                      -webkit-box-orient: vertical;">{{ note.title }}</p>
        </div>

        </div>
      {% endfor %}
{% endif %}
</div>
{% endblock contents %}

{% block site_specific_bottom %}
<script type="text/javascript">
$('#upload_switch').click(function() {
  $('#upload_form').toggle();
});
</script>
{% endblock site_specific_bottom %}