{# --------------------------------------------
   EDITING Template for the NOTES app
   -------------------------------------------- #}

{% extends "/notes/notes_layout.html" %}


{% block contents %}

  <form method="post" action="/notes/save" class="well">
    <div class="controls" style="Padding-bottom: 10px;">
      <input type="submit" class="btn" value="save" name="save">
      <input type="submit" class="btn" value="view" name="view">
      <select class="btn span2" name="public_flag">
        <option value="public" {% if public_flag %}selected="true"{% endif%}>Public</option>
        <option value="private" {% if not public_flag %}selected="true"{% endif%}>Private</option>
      </select>
    </div>

    <input type="hidden" name="key" value="{{ key }}">
    <input type="text" name="title" 
           class="input-block-level"
           placeholder="Type title here. Plain text, no markdown."
           {% if title %}value="{{ title }}"{% endif %}>

    <textarea name="source" style='font-family: monospace;'
                  placeholder="Type any markdown text."
                  class="input-block-level"
                  rows="20">{{ source }}</textarea>

    <input type="submit" class="btn" value="save" name="save">
    <input type="submit" class="btn" value="view" name="view">
  </form>

{% endblock contents %}

