{# --------------------------------------------
   Template for the NOTES app
   -------------------------------------------- 
#}{% extends "main_index.html" %}

{% block section_menu %}
  <!-- START SECTION MENU -->
  <ul class="nav">
    <li><a href="/notes">notes</a></li>
    <li><a href="/notes/about">about</a></li>
  </ul>
  
  <!-- END SECTION MENU -->
{% endblock section_menu %}


{% block body %}

  {% if successes %}
    {% for success in successes %}
      <div class="alert alert-success" style="font-size: 16pt;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong><i class="icon-ok-circle"></i></strong> {{ success }}
      </div>
    {% endfor %}
  {% endif %}

  {% if errors %}
    {% for error in errors %}
      <div class="alert alert-error" style="font-size: 16pt;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong><i class="icon-warning-sign"></i></strong> {{ error }}
      </div>
    {% endfor %}
  {% endif %}
  
  {% if warnings %}
    {% for warning in warnings %}
      <div class="alert alert-block" style="font-size: 16pt;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong><i class="icon-info-sign"></i></strong> {{ warning }}
      </div>
    {% endfor %}
  {% endif %}

{% block contents %}

{% endblock contents %}


{% endblock body %}

