<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }}{% else %}home{%endif%} | gaudencode.appspot.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Gauden Galea">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- add custom styles for this site -->
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link href="/css/styles.css" rel="stylesheet">
    <!-- and make the whole thing responsive -->
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

<!--[if IE 7]>
  <link rel="stylesheet" href="/css/font-awesome-ie7.css">
<![endif]-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/bootstrap/ico/apple-touch-icon-57-precomposed.png">

    {% block site_specific_top %}{% endblock site_specific_top %}

  </head>

  <body>

{% if not bare_page %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">gauden</a>
          <div class="nav-collapse collapse">

            {% block section_menu %}{% endblock section_menu %}


            <!-- APPS menu on the right -->
            <ul class="dropdown nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">tools <i class="icon-chevron-down icon-white"></i></a>
                <ul class="dropdown-menu">
                  {% for name in handler.APPS %}
                  <li><a href="/{{ handler.APPS[name].url }}">{{ handler.APPS[name].name }}</a></li>
                  {% endfor %}
                </ul>
              </li> <!-- li dropdown -->
            </ul>

            <!-- LOGIN and USER PREFERENCES menu on the right -->
             <ul class="dropdown nav pull-right">
                <li class="dropdown">
                  <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                    {% if handler.NICKNAME %}
                      {{ handler.NICKNAME }}
                    {% else %}
                      <b class="icon-user icon-white"></b> 
                    {% endif %}
                    <i class="icon-chevron-down icon-white"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li>{{ handler.GREETING | safe }}</li>
                  </ul>
                </li>
            </ul>  <!-- End login dropdown -->

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
{% endif %}

    <div class="wrapper">
      <div class="container">
        {% block body %}{% endblock body %}
      </div> <!-- /container -->
      <div class="push"><!--//--></div>
    </div> <!-- /wrapper -->

{% if not bare_page %}
    <footer>
      <div class="container">
        <p>Gauden Galea (2012) <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons 3.0 Unported License</a></p>
      </div> <!-- /container -->
    </footer>
{% endif %}


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- HTML5BoilerPlate for loading jQuery from Google CDN --> 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/bootstrap/js/jquery-1.7.1.min.js"><\/script>');</script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    {% block site_specific_bottom %}{% endblock site_specific_bottom %}


  </body>
</html>
